

/* Títulos */
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff4f4;
  text-align: center;
  margin-bottom: 20px;
}
/* Estilos de las tarjetas */
.card {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.5); /* Fondo gris claro con 50% de transparencia */
  border-radius: 8px;
  margin-bottom: 100px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido dentro de la tarjeta esté distribuido de forma uniforme */
  background-color: rgba(244, 244, 244, 0.5); /* Fondo gris claro con 50% de transparencia */

}

.card:hover {
  transform: translateY(-5px);
}

/* Estilo de los títulos de las tarjetas */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
 color: #380808;
}
.card-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
/* Estilo de los enlaces de los botones */
a.btn {
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #fe0b0b; 
  color: #d81414;
  font-weight: bold;
  text-transform: uppercase;
}

a.btn:hover {
  background-color: #fa0808;
  color: #fff;
  border-color: #ff0000;
}

